body{
    background-color: green;
}
h1{
    font-size: 50px;
    text-align: center;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
p{
    text-align: center;
}